/* Add any specific styling you need here */
/* .slds-box {
    padding: 1rem;
    border: 1px solid #dddbda;
    background-color: #f3f2f2;
}

.slds-text-title {
    font-weight: bold;
} */
.test {
    background-color: red;
}
